.body {
	font-size: 10pt;
	font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: #4A4A4A;
	line-height: 14pt;
	margin: 0;
	padding: 0;
	background-image: url("images/background.jpg");
	background-position-y: 100vh;
	background-position-x: center;
	background-repeat: repeat-y;
	/* TODO: Benchmark rendering performance against .jpg */
}

/*
* SCROLL SNAPPING
* The whole website scrolls in full heights and snaps to h2
*/

html {
	scroll-snap-type: y mandatory;
}

/* END: SCROLL SNAPPING*/

/* HEADER */

.header {
	position: fixed;
	right: 0;
	top: 0;
	width: 1024px;
	left: 50%;
	transform: translateX(-50%);
	padding: 12px 0;
	z-index: 1;
}

.header__image {
	float: left;
}

.header__headline {
	float: left;
	font-size: 31px;
	margin: 16px;
	padding: 0;
	color: black;
}

.header__navigation {
	float: right;
	padding: 6px;
	margin-right: -12px;
}

.header__list {
	margin:0;
	overflow: hidden;
}

.header__list-item {
	float: left;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	display: block;
}

.header__link {
	color: #B6B6B6;
	margin: 0;
	padding: 12px;
	display: block;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;
}

.header__link:hover {
    color: black;
}

/* END: HEADER */

/* SECTIONS */

.section {
	height: 100vh;
	position: relative;
	scroll-snap-align: start;  /* snap to the start (top) of the viewport */
}

/* Center content vertically and horizontally */
.container {
	position: absolute;
	width: 1024px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

/* END: SECTIONS */

/* GENERAL UI ELEMENTS */

.headline {
	font-size: 36px;
	color: #4A4A4A;
	margin: 0;
	margin-bottom: 24px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: normal;
}

.subline {
	font-size: 16px;
	color: #9B9B9B;
	margin: 0;
	margin-bottom: 24px;
	font-weight: 800;
	text-transform: uppercase;
}

.description {
	margin: 0;
	margin-bottom: 24px;
	line-height: 2;
}

.button {
	background-image: linear-gradient(180deg, #FEC435 0%, #E9411A 100%);
	border: 2px solid #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10), 0 8px 48px 0 rgba(0,0,0,0.20);
	border-radius: 32px;
	font-weight: 800;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	padding: 16px;
}

/* LAYOUTS */

.headline--columns-left{
	float: left;
	width: 25%;
}

.description--columns-right {
	float: left;
	width: 75%;
}

/* END:LAYOUTS */

/* HERO */

.hero {
	background: white;
}

.hero__image {
	width: 50%;
	float: right;
	margin-left: 48px;
}


/* END: HERO */