.body {
	font-size: 10pt;
	font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: #4A4A4A;
	line-height: 14pt;
	margin: 0;
	padding: 0;
	background-image: url("images/background.jpg");
	background-position-y: 100vh;
	background-position-x: center;
	background-repeat: repeat-y;
	/* TODO: Benchmark rendering performance against .jpg */
}
.lazy {
	background-color: #F6F6F6;
	background-image: url(images/icons/logo.svg);
	background-repeat: no-repeat;
	background-position: center;
}

a {
	color: #4A4A4A;
}

a:hover {
	color: #E9411A;
}

/*
* SCROLL SNAPPING
* The whole website scrolls in full heights and snaps to h2
*/

html {
	scroll-snap-type: y mandatory;
}

/* END: SCROLL SNAPPING*/

/* HEADER */

.header {
	position: fixed;
	right: 0;
	top: 0;
	width: 1024px;
	left: 50%;
	transform: translateX(-50%);
	padding: 12px 0;
	z-index: 1;
}

.header__image {
	float: left;
}

.header__headline {
	float: left;
	font-size: 31px;
	margin: 16px;
	padding: 0;
	color: black;
}

.header__navigation {
	float: right;
	padding: 6px;
	margin-right: -12px;
}

.header__list {
	margin:0;
	overflow: hidden;
}

.header__list-item {
	float: left;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	display: block;
}

.header__link {
	color: #B6B6B6;
	margin: 0;
	padding: 12px;
	display: block;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;
}

.header__link:hover {
	color: black;
}

/* END: HEADER */

/* SECTIONS */

.section {
	height: 100vh;
	position: relative;
	scroll-snap-align: start;  /* snap to the start (top) of the viewport */
	overflow: hidden;
	/* scroll-snap-type: x mandatory; */
}

/* Center content vertically and horizontally */
.container {
	position: absolute;
	width: 1024px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

/* END: SECTIONS */

/* GENERAL UI ELEMENTS */

.headline {
	font-size: 36px;
	color: #4A4A4A;
	margin: 0;
	margin-bottom: 24px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: normal;
}

.container--theme-white .headline {
	color: white;
}

.headline--float-left {
	float: left;
	clear: left;
}

.headline--float-right {
	float: right;
	clear: right;
}

.headline--text-decoration-linethrough {
	text-decoration: line-through;
}

.headline--hidden {
	display: none;
}

.subline {
	font-size: 16px;
	color: #4A4A4A;
	margin: 0;
	margin-bottom: 24px;
	font-weight: 800;
	text-transform: uppercase;
}

.container--theme-white .subline{
	color: white;
}

.subline--float-left {
	float: left;
	clear: left;
}

.subline--float-right {
	float: right;
	clear: right;
}

.description {
	margin: 0;
	margin-bottom: 24px;
	line-height: 2;
}

.container--theme-white .description{
	color: white;
}

.button {
	background-image: linear-gradient(180deg, #FEC435 0%, #E9411A 100%);
	border: 2px solid #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10), 0 8px 48px 0 rgba(0,0,0,0.20);
	border-radius: 32px;
	font-weight: 800;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	padding: 16px;
	cursor: pointer;
}

.button__fullwidth {width: 100%;margin-top: 24px;}

/* LAYOUTS */

.headline--width-50-percent {
	float: left;
	width: 50%;
}

.headline--width-25-percent {
	float: left;
	width: 25%;
}

.description--width-50-percent{
	float: left;
	width: 50%;
}

.description--width-75-percent{
	float: left;
	width: 75%;
}

.container--width-50-percent{
	float: left;
	width: 50%;
}

/* END:LAYOUTS */

/* HERO */

.hero {
	background: white;
}

.hero__image {
	width: 50%;
	float: right;
	margin-left: 48px;
}

/* END: HERO */

/* WHITE TEXT
 * To amaze the world we add a svg mask on top of duplicate white text to show white text on the dark parts of the background
 */

.container--theme-white {
	-webkit-mask-image: url(images/mask.svg);
	-webkit-mask-size: 1407px;
	-webkit-mask-position-x: -653px;
	-webkit-mask-position-y: -110px;
	-webkit-mask-repeat: no-repeat;
}

/* EXAMPLES*/

.slider {
	display: flex;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	/* position: absolute; */
	/* top: 0; */
	/* bottom: 0; */
	/* right: 0; */
	/* left: 0; */
	/* display: block; */
	/* background: green; */
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
}

.slide {
	scroll-snap-align: start;
	width: 100vw;
	flex-shrink: 0;
	height: 100%;
	position: relative;
}

.examples__screenshots {
	position: relative;/* To position the screenshots at different x levels*/
}

.examples__screenshots-item {
	/* width: 375px; */
	position: absolute;
	left: -20%;
	top: 0;
	animation: animate infinite backwards;
	/* height: 812px; */
}
@keyframes animate {
	0% {
		transform: translate(0, -200%);
	}
	100% {
		transform: translate(0, 100%);
	}
}

/* Have them come in at different X levels */
.examples__screenshots-item:nth-of-type(6n + 1) {
	left: 10%;
}
.examples__screenshots-item:nth-of-type(6n + 2) {
	left: 20%;
}
.examples__screenshots-item:nth-of-type(6n + 3) {
	left: 30%;
}
.examples__screenshots-item:nth-of-type(6n + 4) {
	left: 40%;
}
.examples__screenshots-item:nth-of-type(6n + 5) {
	left: 50%;
}

.examples__screenshots-item:nth-of-type(3n) {
	animation-duration: 30s;
}
.examples__screenshots-item:nth-of-type(3n + 1) {
	animation-duration: 25s;
}
.examples__screenshots-item:nth-of-type(3n + 2) {
	animation-duration: 35s;
}

.examples__screenshots-item:nth-of-type(1) { animation-delay: -16s; }
.examples__screenshots-item:nth-of-type(2) { animation-delay: -14s; }
.examples__screenshots-item:nth-of-type(3) { animation-delay: -12s; }
.examples__screenshots-item:nth-of-type(4) { animation-delay: -10s; }
.examples__screenshots-item:nth-of-type(5) { animation-delay: -8s; }
.examples__screenshots-item:nth-of-type(6) { animation-delay: -6s; }
.examples__screenshots-item:nth-of-type(7) { animation-delay: -4s; }
.examples__screenshots-item:nth-of-type(8) { animation-delay: -2s; }
.examples__screenshots-item:nth-of-type(9) { animation-delay: 0s; }
.examples__screenshots-item:nth-of-type(10) { animation-delay: 2s; }
.examples__screenshots-item:nth-of-type(11) { animation-delay: 4s; }
.examples__screenshots-item:nth-of-type(12) { animation-delay: 6s; }
.examples__screenshots-item:nth-of-type(13) { animation-delay: 8s; }
.examples__screenshots-item:nth-of-type(14) { animation-delay: 10s; }
.examples__screenshots-item:nth-of-type(15) { animation-delay: 12s; }
.examples__screenshots-item:nth-of-type(16) { animation-delay: 15s; }
.examples__screenshots-item:nth-of-type(17) { animation-delay: 17s; }

div {
	animation-delay: 2s;
}

.example-icons{
	padding: 0;
}

.examples__list-item {
	list-style-type: none;
	width: 50%;
	float: left;
	margin-bottom: 16px;
}

.examples__list-item-icon {
	float: left;
	width: 24px;
	height: 24px;
}
.examples__list-item-label {
	float: left;
	padding: 3px 16px;
}

/* END: EXAMPLES */

/* PAGING INDICATOR */

.paging-indicator {
	position: absolute;
	bottom: 24px;
	left: 50%;
	z-index: 2;
}

.paging-indictor-dot {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	display: block;
	background: #b6b6b6;
	float: left;margin-right: 4px;
}

.paging-indictor-dot--active {background: #4A4A4A;}

/* END: PAGING INDICATOR */

/* ARROWS */

.arrows {z-index: 2;position: absolute;top: 0;bottom: 0;left: 0;right: 0;}

.arrow {
	width: 40px;
	height: 40px;
	background-image: url("images/icons/arrow.svg");
	position: absolute;
	top: 50%;
	right: 24px;
	transform: rotate(180deg);
	opacity: .5;
	cursor: pointer;
}

.arrow:hover {
	opacity: 0.75;
}

.arrow:active {
	transform: scale(0.9) rotate(180deg);
	opacity: 1;
}

.arrow-left {
	left: 24px;
	right: auto;
	transform: none;
}

.arrow-left:active {
	transform: scale(0.9);
}

/* END: ARROWS */

/* GRIDS */


.grid {
	display: flex;
	padding: 0;
	justify-content: space-between;
	flex-wrap: wrap;
}

.grid-item__columns-2{
	width: 50%;
	list-style: none;
	text-align: center;
}

.grid-item__columns-3{
	width: 33%;
	list-style: none;
}

/* CLIENTS */

.grid-item__columns-3{
	background-position: center;
	height: 100px;
	background-repeat: no-repeat;
}

.clients__item-1 { background-image: url("images/logos/1.svg"); }
.clients__item-2 { background-image: url("images/logos/2.svg"); }
.clients__item-3 { background-image: url("images/logos/3.svg"); }
.clients__item-4 { background-image: url("images/logos/4.svg"); }
.clients__item-5 { background-image: url("images/logos/5.svg"); }
.clients__item-6 { background-image: url("images/logos/6.svg"); }
.clients__item-7 { background-image: url("images/logos/7.svg"); }
.clients__item-8 { background-image: url("images/logos/8.svg"); }
.clients__item-9 { background-image: url("images/logos/9.svg"); }

/* END: CLIENTS */

/* FORMS */

.contact-form {
	background: rgba(255,255,255,0.5);
	border-radius: 2px;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.25);
	padding: 24px;
	width: calc(50% - 60px);
	float: left;
	position: relative;
}

.contact-form:nth-of-type(1) {
	margin-right: 12px;
}

.contact-form:nth-of-type(2) {
	margin-left: 12px;
}

.promotion{display: block;width: 238px;height: 238px;background-image: url(images/background_promotion.svg);position: absolute;right: -48px;z-index: 1;top: -78px;text-align: center;padding: 85px 0 17px 3px;font-size: 24px;color: white;/* margin: 0; *//* margin-bottom: 24px; */font-weight: 800;text-transform: uppercase;line-height: normal;background-repeat: no-repeat;transform: rotate(22.5deg);}

.list__theme-checklist {padding: 0;margin: 0;margin-bottom: 24px;margin-top: -12px;}

.list-item__theme-checklist {
    list-style: none;
    line-height: 2;
    margin-left: 6px;
}

.list-item__theme-checklist::before {
    content: "✅";
    margin-right: 6px;
  }

.form-textfield{
	width: calc(50% - 24px);
	border: none;
	border-bottom: 2px solid #B6B6B6;
	background: rgba(255,255,255, 0.5);
	padding: 12px;
	box-sizing: border-box;
	font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
	float: left;
	margin-bottom: 24px;
}

.form-textfield:nth-of-type(1) {
	margin-right: 12px;
}

.form-textfield:nth-of-type(2) {
	margin-left: 12px;
}

.form-textfield::placeholder {
	color:#9B9B9B;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}

.form-checkbox {clear: both;display: block;margin-right: 12px;float: left;/* height: 88px; */transform: scale(1.5);margin-left: 12px;cursor: pointer;}

.form-label {float: left;width: calc(100% - 48px);}

/* END: FORMS */

/* PARTNERS */

.list__theme-partners {
	margin: 0;
	padding: 0;
}

.list-item__theme-partners {
	list-style: none;
	text-align: center;
	margin-bottom: 24px;
}

/* END: PARTNERS */

/* THE BIG PROCESS */


.list__theme-big-process {
	margin: 0;
	padding: 0;
	position: relative;
}

.list-item__theme-big-process {
	list-style: none;
	width: 113px;
	float: left;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.label {
	font-size: 16px;
	font-weight: bold;
}

.list-item__theme-big-process:nth-of-type(1) { top: 4px; }
.list-item__theme-big-process:nth-of-type(2) { top: 16px; }
.list-item__theme-big-process:nth-of-type(3) { top: 32px; }
.list-item__theme-big-process:nth-of-type(4) { top: 64px; }
.list-item__theme-big-process:nth-of-type(5) {top: 32px;}
.list-item__theme-big-process:nth-of-type(6) { top: 16px; }
.list-item__theme-big-process:nth-of-type(7) { top: 8px; }
.list-item__theme-big-process:nth-of-type(8) { top: 4px; }
.list-item__theme-big-process:nth-of-type(9) { top: 0; }

.description--theme-big-process {
	position: fixed;
	display: none;
	left: 0;
	right: 0;
	top: 260px;
}

.list-item__theme-big-process:hover .description--theme-big-process {
	display: block;
}

/* END: THE BIG PROCESS */

.list__theme-scrum {
	margin: 0;
	padding: 0;
	position: relative;
	left: -288px;
}

.list-item__theme-scrum {
	list-style: none;
	width: 80px;
	float: left;
	text-align: center;
	animation: scrum 20s infinite backwards linear;
	position: absolute;
	cursor: pointer;
}

.subline--theme-scrum {
	position: fixed;
	display: none;
	left: 480px;
	right: 0;
	top: 250px;
}

.description--theme-scrum {
	position: fixed;
	display: none;
	left: 480px;
	right: 0;
	top: 280px;
}

.list-item__theme-scrum:nth-of-type(1) { animation-delay: -1s; }
.list-item__theme-scrum:nth-of-type(2) { animation-delay: -2s; }
.list-item__theme-scrum:nth-of-type(3) { animation-delay: -3s; }
.list-item__theme-scrum:nth-of-type(4) { animation-delay: -4s; }
.list-item__theme-scrum:nth-of-type(5) { animation-delay: -5s; }
.list-item__theme-scrum:nth-of-type(6) { animation-delay: -6s; }
.list-item__theme-scrum:nth-of-type(7) { animation-delay: -7s; }
.list-item__theme-scrum:nth-of-type(8) { animation-delay: -8s; }
.list-item__theme-scrum:nth-of-type(9) { animation-delay: -9s; }
.list-item__theme-scrum:nth-of-type(10) { animation-delay: -10s; }
.list-item__theme-scrum:nth-of-type(11) { animation-delay: -11s; }
.list-item__theme-scrum:nth-of-type(12) { animation-delay: -12s; }
.list-item__theme-scrum:nth-of-type(13) { animation-delay: -13s; }
.list-item__theme-scrum:nth-of-type(14) { animation-delay: -14s; }
.list-item__theme-scrum:nth-of-type(15) { animation-delay: -15s; }
.list-item__theme-scrum:nth-of-type(16) { animation-delay: -16s; }
.list-item__theme-scrum:nth-of-type(17) { animation-delay: -17s; }
.list-item__theme-scrum:nth-of-type(18) { animation-delay: -18s; }
.list-item__theme-scrum:nth-of-type(19) { animation-delay: -19s; }
.list-item__theme-scrum:nth-of-type(20) { animation-delay: -20s; }

@keyframes scrum {
	0% { transform: translate(0px, 589px); opacity: 0}
	5% { transform: translate(80px, 482px); }
	10% { transform: translate(160px, 394px); }
	15% { transform: translate(240px, 320px); }
	20% { transform: translate(320px, 256px); opacity: 1}
	25% { transform: translate(400px, 202px); }
	30% { transform: translate(480px, 156px); }
	35% { transform: translate(560px, 117px); }
	40% { transform: translate(640px, 84px); }
	45% { transform: translate(720px, 57px); }
	50% { transform: translate(800px, 35px); }
	55% { transform: translate(880px, 19px); }
	60% { transform: translate(960px, 8px); }
	65% { transform: translate(1040px, 1px); }
	70% { transform: translate(1120px, 0px); }
	75% { transform: translate(1200px, 3px); }
	80% { transform: translate(1280px, 12px); opacity: 1}
	85% { transform: translate(1360px, 25px); }
	90% { transform: translate(1440px, 44px); }
	95% { transform: translate(1520px, 67px); }
	100% { transform: translate(1600px, 67px); opacity: 0}
}